[submodule "deps/ish"]
	path = deps/ish
	url = https://github.com/I/ish-arm64.git
	branch = feature/fork-guard
[submodule "deps/proot"]
	path = deps/proot
	url = https://github.com/I/proot.git
	branch = master
